.image-container {
    width: 100%; 
    height: 250px; 
    border: 1px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .contained-image {
    width: 100%; 
    height: 250px; 
    display: block;
    object-fit: cover; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  