.nearluk__privacy_policy__wrapper {
  margin: 5px;
  padding: 10px;
}
.nearluk__privacy_policy__wrapper h1 {
  margin-bottom: 10px;
  text-align: center;
}
h3 {
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 10px;
}
h5 {
  margin-bottom: 10px;
}
.nearluk__other__privacy {
  margin: 5px;
  padding: 15px;
}
