@media (max-width: 767px) {
  .nav-tabs {
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }

  .nav-tabs .nav-item {
    display: flex !important;
  }
  .nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:nowrap !important;
    padding-left:20px;
    margin-bottom:0;
    list-style:none;
  }
  
}
