
.blogposts {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}
.main-wraper .blogposts:nth-last-child(2) {
  margin-bottom: 0;
}
.blogposts > figure {
  display: flex;
  margin-bottom: 0;
  vertical-align: middle;
  max-width: 340px;
}
.blogpost_meta {
  display: flex;
  max-width: 50%;
  padding-left: 15px;
  vertical-align: middle;
}
.blogpost_meta > span {
  color: blue;
  display: flex;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: capitalize;
  margin-top: 5px;
}
.blogpost_meta > h4 {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  width: 100%;
}
.blogpost_meta > ul {
  display: flex;
  list-style: outside none none;
  margin-bottom: 6px;
  padding-left: 0;
  width: 100%;
}
.blogpost_meta > ul > li {
  color: #92929e;
  display: flex;
  margin-right: 20px;
}
.blogpost_meta > ul > li a {
  display: flex;
  font-size: 13px;
  padding-left: 5px;
}
.blogpost_meta > a.button {
  float: right;
  border: 1px solid;
}
.blogpost_meta > a.button:hover {
  background: #deebf3;
}
.blogpost_meta .expprise{
  background-color: none;
  font-weight: bold;
  font-size: 18px;
}
.main-wraper .uk-pagination {
  margin: 0;
}
.blogposts > figure img {
  border-radius: 6px;
  width: 250px;
  height: 200px; 
}
@media only screen and (max-width: 768px) {
    .main-wraper {
        height: 400px;
      margin-bottom: -80px; 
    }
  
    .blogposts {
        height: 400px;
      flex-direction: column;
      margin-bottom: 20px; 
    }
  
    .blogpost_meta {
      text-align: center;
    }
  }