.leftContainer li {
  color: #9c9c9c;
}
.leftContainer .nav-item a.nav-link.active {
  color: black;
  border-bottom: 3px solid #7ed8cc;
  
}
.album-name {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 15px;
  text-align: center;
  width: 91%;
    border-radius: 0 0 8px 8px;
    margin-top: -1px;
    margin-bottom: 20px;
    margin-left: -1px; /* Center horizontally by pushing to the right */
  margin-right: auto; /* Center horizontally by pushing to the left */
}

.story-wraper {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  left: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
