.searchfilter {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.searchfilter > li {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.searchfilter > li > a {
    color: #1f273f;
    display: block;
    font-size: 12px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 10px 6px;
    text-align: center;
    width: 100%;
    text-decoration: none; 
}

.searchfilter > li > a:hover {
    background: #deebf3;
}

.searchfilter > li > a i {
    display: block;
    font-size: 20px;
}
