/* Services.css */

.group-box {
  text-align: center;
}

.group-box img {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 10px;
}

.group-box button {
  width: fit-content;
  padding: 10px;
  /* background-color: #3498db; */
  color: #fff;
  border: none;
  cursor: pointer;
}
