.list2 > li :active {
  color: #1095a3;
}
.list2 > li :hover {
  color: #1095a3;
}
.nl-search-location {
  width: 380px;
  height: 0px;
  margin: -40px 8px 0 0;
  border-right: 1px solid #d7d7d7;
  padding-left: 165px;
  position: relative;
  z-index: 5;
}
.searchicon {
  width: 230px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  border: solid 0.5px #03b6c3;
  border-radius: 25px;
}
.nl-searchlocation-input {
  margin-left: -22px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #606066;
  border: none;
  outline: none;
  padding: 20px 0 10px 5px;
  background: none;
  margin-right: 12px;
}
.nl-search-location_wrap {
  padding: 2px 0 12px 4px;
  box-sizing: border-box;
  width: 90%;
}
 ul.web_elements > li > a {
  background: #deebf3 none repeat scroll 0 0;
  /* border: 1px solid #088dcd;
  border-radius: 100%; */
  color: black;
  font-weight: 500;
  font-size: 14px;
  margin-right: -10px;
  background-color: white;
  
  
}
 ul.web_elements > li {
  padding-right: 8px;
  /* margin: 0 5px; */
  position: relative;
}
 ul.web_elements > li > a > i {
  display: inline-block;
  font-size: 16px;
  line-height: initial;
  vertical-align: text-bottom;
}
 ul.web_elements > li > span {
  background: #ff7373 none repeat scroll 0 0;
  color: #fff;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  right: 1px;
}
 ul.web_elements > li:hover .dropdown1 {
  opacity: 1;
  visibility: visible;
}
.dropdown1 {
  background: #fff none repeat scroll 0 0;
  border-radius: 8px;
  border: solid 1px #03B6C3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  line-height: initial;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 15px 15px 10px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 500px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear 0s;
}
.dropdown1 > li {
  display: inline-block;
  border-bottom: solid 2px #03B6C3 ;
  vertical-align: top;
  width: 31.6%;
  margin-right: 4px;
  margin-bottom: 8px;
}
.dropdown1 > li:nth-child(3n) {
  margin-right: 0;
}
.dropdown1 > li:last-child {
  margin-bottom: 0;
}
.dropdown1 > li > a {
  border-radius: 5px;
  color: #1f273f;
  display: inline-block;
  font-size: 12px;
  padding: 10px 6px;
  text-align: center;
  width: 100%;
}
.dropdown1 > li > a:hover {
  background: #deebf3;
}
/* .dropdown1 > li > a.logout {
  background: #ff7373;
  border-color: #ff2727;
  color: #fff;
} */
.dropdown1 > li > a i {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

ul.web_elements > li:hover .dropdown2 {
  opacity: 1;
  visibility: visible;
}
.dropdown2 {
  background: #fff none repeat scroll 0 0;
  border-radius: 8px;
  border: solid 1px #03B6C3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction: column;
  line-height: initial;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0 5px 10px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 150px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear 0s;
}
.dropdown2 > li {
  border-bottom: solid 2px #03B6C3 ;

  display: inline-block;
  vertical-align: top;
  width: 40;
  margin-right: 4px;
  margin-bottom: 8px;
}
.dropdown2 > li:nth-child(3n) {
  margin-right: 0;
}
.dropdown2 > li:last-child {
  margin-bottom: 0;
}
.dropdown2 > li > a {
  border-radius: 5px;
  color: #1f273f;
  display: inline-block;
  font-size: 12px;
  padding: 10px 6px;
  text-align: center;
  width: 100%;
}
.dropdown2 > li > a:hover {
  background: #deebf3;
}
/* .dropdown2 > li > a.logout {
  background: #ff7373;
  border-color: #ff2727;
  color: #fff;
} */
.dropdown2 > li > a i {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}


