/* chip css */
.chip {
    width: fit-content;
    border: 1px solid #9b9494;
    height: 27px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #9b9494;
    cursor: pointer;
    
  }