.category-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  height: 45px;
  width: 300px;
  box-shadow: 0 10px 30px 0px rgb(0 0 0 / 6%);
  margin-right: 70px;
}

.category-inner-card {
  margin-left: -40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-card .icon {
  font-size: 17px;
  color: #333;
  margin-right: 10px;
}

.category-card .info {
  flex-grow: 1;
  color: gray;
}

.category-card .edit-icon,
.category-card .check-icon {
  font-size: 17px;
  color: gray;
  cursor: pointer;
  position: absolute;
  right: 10px; 
}

.category-card .check-icon {
  color: green;
}

.category-card .edit-icon:hover,
.category-card .check-icon:hover {
  color: blue;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 30%;
  z-index: 999999;
  background: rgba(248, 248, 248, 0.85) none repeat scroll 0 0;
}
 
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 35%;
  height: 15%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 